.loading {
    width: 100%;
    overflow: hidden;
 
    .children {
       border-radius: 4px;
       animation-duration: 4s;
       animation-fill-mode: forwards;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
       animation-name: placeHolderShimmer;
       background: linear-gradient(to right, #f6f6f6 8%, rgba(221, 221, 221, 0.55) 18%, #f6f6f6 30%);
       background-size: 1000px 1000px;
       position: relative;
    }
 
    .element-circle {
       border-radius: 100%;
    }
 
    .element-text {
       display: flex;
       align-items: flex-start;
       flex-direction: column;
       justify-content: center;
 
       span {
          border-radius: 4px;
          animation-duration: 4s;
          animation-fill-mode: forwards;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-name: placeHolderShimmer;
          background: linear-gradient(to right, #f6f6f6 8%, rgba(221, 221, 221, 0.55) 18%, #f6f6f6 30%);
          background-size: 1000px 50px;
          position: relative;
          height: 13px;
          display: block;
          margin-bottom: 10px;
 
          &:last-child {
             margin-bottom: 0;
          }
       }
    }
 }